.pagina {
	BACKGROUND-COLOR: #FFFFFF;
	FONT-FAMILY: Verdana, Arial;
}

.cabec {
	BACKGROUND-COLOR: #669900;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 12pt;
	COLOR: white;
}

.jform {
	BORDER-RIGHT: gray 1px solid;
	BORDER-LEFT: gray 1px solid;
	BORDER-BOTTOM: gray 1px solid;
	BORDER-TOP: gray 1px solid;
}

.tjanela {
	FONT-WEIGHT: bolder;
	FONT-SIZE: 8pt;
	COLOR: white;
	HEIGHT: 8pt;
	FONT-FAMILY: Verdana, Arial;
	BACKGROUND-COLOR: #669900;
}

.cjanela {
	FONT-SIZE: 8pt;
	COLOR: darkblue;
	HEIGHT: 8pt;
	FONT-FAMILY: Verdana, Arial;
	BACKGROUND-COLOR: #FFCC00;
}


.ejanela {
	FONT-SIZE: 8pt;
	COLOR: darkblue;
	HEIGHT: 8pt;
	FONT-FAMILY: Verdana, Arial;
	BACKGROUND-COLOR: #FFCC00;
}

.bjanela {
	BORDER-RIGHT: gray 1px solid;
	BORDER-TOP: white 1px solid;
	FONT-SIZE: 8pt;
	BORDER-LEFT: white 1px solid;
	CURSOR: hand;
	COLOR: darkblue;
	BORDER-BOTTOM: gray 1px solid;
	FONT-FAMILY: Verdana, Arial, 'MS Sans Serif';
	BACKGROUND-COLOR: lightgrey;
}

.msg {
	FONT-SIZE: 8pt;
	COLOR: darkblue;
	FONT-FAMILY: Verdana, Arial, 'MS Sans Serif';
	BACKGROUND-COLOR: #FFCC00;
}

.btitulo {
	FONT-WEIGHT: bolder;
	BORDER-RIGHT: gray 1px solid;
	BORDER-TOP: white 1px solid;
	FONT-SIZE: 6pt;
	BORDER-LEFT: white 1px solid;
	CURSOR: hand;
	COLOR: darkblue;
	BORDER-BOTTOM: gray 1px solid;
	FONT-FAMILY: 'MS Sans Serif';
	BACKGROUND-COLOR: lightgrey;
}

.dljanela {
	BORDER-RIGHT: lightgrey 1px solid;
	BORDER-TOP: black 1px solid;
	FONT-SIZE: 8pt;
	BORDER-LEFT: black 1px solid;
	COLOR: black;
	BORDER-BOTTOM: lightgrey 1px solid;
	FONT-FAMILY: Verdana, Arial, 'MS Sans Serif';
	BACKGROUND-COLOR: white;
}

.txjanela {
	BORDER-RIGHT: gray 1px solid;
	BORDER-TOP: black 1px solid;
	FONT-SIZE: 8pt;
	BORDER-LEFT: black 1px solid;
	COLOR: black;
	BORDER-BOTTOM: gray 1px solid;
	FONT-FAMILY: Verdana, Arial;
	BACKGROUND-COLOR: white;
}
.dllanc {
	BORDER-RIGHT: gray 1px solid;
	BORDER-TOP: black 1px solid;
	FONT-SIZE: 6pt;
	BORDER-LEFT: black 1px solid;
	COLOR: black;
	BORDER-BOTTOM: gray 1px solid;
	FONT-FAMILY: Courier;
	BACKGROUND-COLOR: white;
}

.txinvis {
	BORDER-RIGHT: #FFCC00;
	BORDER-TOP: #FFCC00;
	FONT-SIZE: 8pt;
	BORDER-LEFT: #FFCC00;
	COLOR: darkblue;
	BORDER-BOTTOM: #FFCC00;
	FONT-FAMILY: Verdana, Arial;
	BACKGROUND-COLOR: #FFCC00;
}

.rbjanela {
	BORDER-RIGHT: gray 1px solid;
	BORDER-TOP: black 1px solid;
	FONT-SIZE: 8pt;
	BORDER-LEFT: black 1px solid;
	COLOR: darkblue;
	BORDER-BOTTOM: gray 1px solid;
	FONT-FAMILY: Verdana, Arial;
	BACKGROUND-COLOR: lightgrey;
}

.cbjanela {
	COLOR: darkblue;
	FONT-FAMILY: Verdana, Arial;
	BACKGROUND-COLOR: #FFCC00;
}

.tcons {
	FONT-WEIGHT: bolder;
	FONT-SIZE: 10pt;
	COLOR: #990000;
	FONT-FAMILY: Verdana, Arial;
	BACKGROUND-COLOR: white;
}

.lcons1 {
	FONT-SIZE: 8pt;
	COLOR: darkblue;
	FONT-FAMILY: Verdana, Arial, Courier;
	BACKGROUND-COLOR: #FFCC00;
}

.lcons2 {
	FONT-SIZE: 8pt;
	COLOR: darkblue;
	FONT-FAMILY: Verdana, Arial, Courier;
	BACKGROUND-COLOR: white;
}
.lcons3 {
	FONT-SIZE: 8pt;
	COLOR: darkblue;
	FONT-FAMILY: Verdana, Arial, Courier;
	BACKGROUND-COLOR: white;
}

.lcons4 {
	FONT-SIZE: 7pt;
	COLOR: darkblue;
	FONT-FAMILY: Verdana, Arial, Courier;
	BACKGROUND-COLOR: #FFCC00;
}

.lcons5 {
	FONT-SIZE: 7pt;
	COLOR: darkblue;
	FONT-FAMILY: Verdana, Arial, Courier;
	BACKGROUND-COLOR: white;
}

.lcons6 {
	FONT-SIZE: 8pt;
	COLOR: red;
	FONT-FAMILY: Verdana, Arial, Courier;
	BACKGROUND-COLOR: #FFCC00;
}

.lcons7 {
	FONT-SIZE: 8pt;
	COLOR: red;
	FONT-FAMILY: Verdana, Arial, Courier;
	BACKGROUND-COLOR: white;
}

.lcons8 {
	FONT-SIZE: 8pt;
	COLOR: black;
	FONT-FAMILY: Verdana, Arial, Courier;
	BACKGROUND-COLOR: #FFCC00;
}

.lcons9 {
	FONT-SIZE: 8pt;
	COLOR: black;
	FONT-FAMILY: Verdana, Arial, Courier;
	BACKGROUND-COLOR: white;
}

.lcons10 {
	FONT-SIZE: 8pt;
	COLOR: red;
	FONT-FAMILY: Verdana, Arial, Courier;
	BACKGROUND-COLOR: #FFCC00;
}

.lcons11 {
	FONT-SIZE: 8pt;
	COLOR: red;
	FONT-FAMILY: Verdana, Arial, Courier;
	BACKGROUND-COLOR: white;
}

.lcons12 {
	FONT-SIZE: 6pt;
	COLOR: darkblue;
	FONT-FAMILY: Verdana, Arial, Courier;
	BACKGROUND-COLOR: #FFCC00;
}

.lcons13 {
	FONT-SIZE: 6pt;
	COLOR: darkblue;
	FONT-FAMILY: Verdana, Arial, Courier;
	BACKGROUND-COLOR: white;
}

